.description {
  /* font-size: 90%; */
}

.link {
  font-weight: bold;
  color: var(--third-main);
}

.link:hover {
  color: var(--secondary-main);
}

.card {
  box-shadow: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline {
  width: 0px;
  border: 2px solid #9e9e9e;
  margin: auto;
  background-color: #9e9e9e;
}

.halfTimeline {
  width: 0px;
  border: 2px solid #9e9e9e;
  margin: auto;
  background-color: #9e9e9e;
}

.svgFilter{
  filter: invert(81%) sepia(5%) saturate(1056%) hue-rotate(156deg) brightness(79%) contrast(88%);
}

@media (max-width: 599px) {
  .cardContent {
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }

  .img {
    width: 130px;
    height: auto;
    object-fit: contain;
  }

  .icon {
    margin: 1rem 0;
  }

  .timeline {
    height: 75px;
  }

  .halfTimeline {
    height: 25px;
  }

  .svgFilter {
    height: 75px;
    width: auto;
  }
}

@media (min-width: 600px) {

  .cardContent {
    display: grid;
    grid-template-columns: 2.5fr 1fr 2.5fr;
    justify-items: center;
    gap: 15px;
  }

  .icon {
    grid-column: 2 / 2;
  }

  .img {
    width: 150px;
    height: auto;
    object-fit: contain;
  }

  .right {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    max-width: 575px;
    justify-self: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    max-width: 575px;
    justify-self: right;
  }

  .timeline {
    height: 150px;
  }
  
  .halfTimeline {
    height: 50px;
  }
}

.years {
  font-size: 16px;
}

.location {
  margin-bottom: 12px;
}
