/* In order to use the MUI themes in CSS files, we need to create CSS vars manually with the same values
   we are using in styles/theme/portfolioThemeOptions until we implement the 'experimental'
   CssVarsProvider (https://mui.com/material-ui/experimental-api/css-theme-variables/usage/)
*/
:root {
  --primary-contrastText: #e5d8c8;
  --primary-main: #79A8A9;
  --primary-dark: #263238;
  --primary-light: #e5d8c8;
  --secondary-main: #6CA3B3;
  --secondary-contrastText: #2B4148;
  --third-main: #56828F;
  --third-contrastText: #CAEEFE;
}
/* --primary-light: #E8DED2; */

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans JP', sans-serif;
  /* font-family: 'Noto Serif', serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--primary-light);
  color: var(--primary-dark);
}


* {
  box-sizing: border-box;
}

a {
  color: var(--secondary-main);
  text-decoration: none;
}

a:hover {
  color: var(--third-contrastText);
}

img {
  max-width: 100%;
  display: block;
}