/* In order to use the MUI themes in CSS files, we need to create CSS vars manually with the same values
   we are using in styles/theme/portfolioThemeOptions until we implement the 'experimental'
   CssVarsProvider (https://mui.com/material-ui/experimental-api/css-theme-variables/usage/)
*/
:root {
  --primary-contrastText: #E8DED2;
  --primary-main: #79A8A9;
  --primary-dark: #263238;
  --primary-light: #E8DED2;
  --secondary-main: #6CA3B3;
  --secondary-contrastText: #1b424d;
  --third-main: #56828F;
  --third-contrastText: #CAEEFE;
}
/* --primary-light: #E8DED2; slightly bluer */

/*   --primary-light: #e5d8c8;  slightly browner */

:target {
  scroll-margin-top: 64px;
}


html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--primary-light);
  color: var(--secondary-contrastText);
}


* {
  box-sizing: border-box;
}

a {
  color: var(--secondary-main);
  text-decoration: none;
}

a:hover {
  color: var(--third-contrastText);
}

blockquote {
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  /* font-size: 90%; */
  color: #555758;
}
blockquote p {
  display: inline-block;
  margin-block-start: 0;
  margin-block-end: 0;
}