/* mobile layout */
.container {
  display: flex;
  justify-content: center;
}

.vertical {
  flex-direction: column;
}

/* mobile */
@media (max-width: 599px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 1rem;
  }
}

/* desktop */
@media (min-width: 600px) {
  .container {
    padding: 50px 20px;
    gap: 5rem;
  }

  .vertical {
    gap: 1rem;
    padding: 50px 20px;
  }

  .horizontalMargins {
    margin: 0 3rem;
  }
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 50px 80px;
}

.content {
  max-width: 700px;
}

.dark {
  background-color: var(--primary-dark);
  color: var(--primary-contrastText);
}

.light {
  background-color: var(--primary-light);
  color: var(--secondary-contrastText);
}

.third {
  background-color: var(--third-main);
  color: var(--primary-contrastText);

}

.third a {
  color: var(--primary-contrastText);

}

.third a:hover {
  color: #bbdefb;
}