.section {
  padding: 50px;
}

.borderCircle {
  border-radius: 50%;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listTitle {
  padding-bottom: 10px;
}

.listItem {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
}

.compactListItem {
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.compactListItemText {
  margin: 0;
}

.lightText {
  color: #666;
}

.figcaption {
  max-width: 250px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Noto Serif;
  font-style: italic;
  margin-top: 0.5rem;
}

.figcaption a {
  text-decoration: none;
  color: var(--primary-contrastText);
}

.figcaption a:hover {
  color: var(--secondary-main);
}